@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.headingSection{
    background: linear-gradient(180deg, #111111, #333333);  
    color: #FFFFFF;  
}
.display-flex {
    display: flex;
    align-items: center;

}

.navbar {
    padding-top: 55px;
    align-items: center;
    justify-content: space-around;
}

nav>ul>li {
    list-style: none;
    align-items: center;
}

.nav-links>li {
    margin-left: 45px;
}

#homeBtn {
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}

.logodeSign {
    color: rgb(230, 83, 60); 
    font-weight: 900; 
    font-size: 36px; 
    line-height: 120%; 
    text-align: left;
    font-style:  italic;
    
}

@media screen and (max-width:576px){
     .nav-links{
        display: none;
     }
}