@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0 auto;
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}

.bannerSection,
.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.inter-font h5 {
    font-size: 1.125rem;
}

.headingSection {
    background: linear-gradient(180deg, #111111, #333333);
    color: #FFFFFF;
}

.display-flex {
    display: flex;
    align-items: center;

}

main {
    background-color: black;
}

.navbar {
    padding-top: 55px;
    align-items: center;
    justify-content: space-between;
}

nav>ul>li {
    list-style: none;
    align-items: center;
}

.nav-links>li {
    margin-left: 45px;
    font-size: 1.125rem;
}

#homeBtn {
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}

.logodeSign {
    color: rgb(230, 83, 60);
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 120%;
    text-align: left;
    font-style: italic;
}

.bannerSection {
    margin-top: 32px;
    justify-content: center;
    gap: 85px;
}

.heroContent {
    max-width: 520px;
}

.heroContent h3 {
    font-size: 4.8rem;
}

.paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}

.buttonSecondery {
    background-color: rgb(255, 255, 255);
}

.buttonPrimary {
    margin-top: 28px;
    max-width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.buttonPrimary:hover {
    background-color: #111111;
}

.heroImg img {
    max-width: 320px;
    height: 580;
}

.workoutItemsDetails {
    max-width: 1044px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    padding-top: 100px;

}

/* .workoutItemsDetails h3{
   color:  rgb(255, 255, 255);
   font-size: 3rem;
   font-weight: 900;
} */
.worktitles {
    text-align: center;
}

.worksContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 58px;
    text-align: center;
}

.workItems {
    justify-content: center;
}

.worksContainer img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.runWork {
    border-radius: 18px;
    background: rgb(34, 34, 34);
    max-width: 1060px;
    height: 371px;
    margin-top: 100px;
}

.runTitles {
    max-width: 440px;
}

.runImg img {
    max-width: 360px;
    height: 310px;
    border-radius: 18px;
}
.training {  
    max-width: 1060px; 
    margin-top: 100px;
}
.trainContainer{
     display: grid;
     grid-template-columns: repeat(1, 1fr);
    margin-top: 10px;
} 
.itemsCont{
    max-width: 1060px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.itemsCont img{
    max-width: 500px;
    height: 200px;
}
.meetTeamContainer{
    padding-top: 100px;
    padding-bottom: 85px;
} 
.imgContainer{
    border-radius: 18px; 
    background: rgba(255, 255, 255, 0.1);
}
.imgContainer img{ 
    max-width: 320px;
    height: 270px;
}
.imgContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(2, auto);  
    gap: 10px; 
    padding: 10px;
    max-width: 1060px;
}
.trainer {
    position: relative;  
    border-radius: 8px;
    overflow: hidden;
  }
.trainer img{
    max-width: 320px;
      height:  250px;
      display: block;
}
.trainer .text-overlay {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);  
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  }
.footerContainer{
    display: flex;
    padding-top: 66px;
    max-width: 1440px;
    background:rgb(34, 34, 34);
    max-width: 1440px;
    height: 489px;
} 
.footerAddress{
    display: flex;
}
.footerLogo{
    max-width: 50%;
}
.footerAddress{
 max-width: 50%;
}
 
@media screen and (max-width:576px) {

    /* *{
        margin: 0 auto;
    } */
    .bannerSection {
        display: flex;
        flex-direction: column;

    }

    .nav-links {
        display: none;
    }

    .heroImg {
        max-width: 350px;
    }

    .buttonPrimary {
        max-width: 165px;
        padding: 16px 40px 16px 40px;
    }

    .heroContent h3 {
        font-size: 2.1rem;
    }

    .worksContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .runWork {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .runImg img {
        margin-top: 20px;
        max-width: 280px;
        height: 170px;
        border-radius: 18px;
    }

}